/**
* Accordeon
*/
.accordeon {
    display: flex;
}

.accordeon details {
    display: flex;
    width: 100px;
    transition: width 0.6s;
}

details[open] {
    display: flex;
    width: 300px;
}

summary {
    list-style-type: none;
}

details div {
    min-width: 200px;
    padding: 10px;
}