/**
* Accordeon
*/
.accordeon {
    display: flex;
    width: 100px;
    transition: width 2s;
}

.details {
    display: block;
    unicode-bidi: isolate;
    width: 100px;
}

.details [open] {
    display: flex;
    width: 100px;
    transition: width 2s;
}





































.head>.meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Largeur</title><style>.elm-parent {
    width: 100px;
    overflow: hidden;
    transition: width 2s;

    display: flex;
    padding-left: 20px;
    position: relative;
}

.elm-parent[open] {
    width: calc(100px + 20rem);
}

.elm-parent::before {
    content: "";
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left: 20px solid red;
    top: 0;
    left: 0;
    transition: transform 2s;
}

.elm-parent[open] {
    transform: rotate(90deg);
}

.contenu__text {
    flex: 0 0 20rem;
}

</style></head><body>< !-- .elm-parent>.contenu>img+p>lorem25 --><figure class="elm-parent"><figcaption><img src="https://picsum.photos/100/150" alt="picsum lorem" width="100" height="150"></figcaption><p class="contenu__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
ratione deserunt necessitatibus incidunt tenetur quam totam tempora praesentium ab. Consequuntur ipsam vel veniam quod odio.</p></figure></body></html>